// giao diện trang tài khoản 
.wrapper {
    display: flex;
    align-items: center;
    padding: 8px 16px;

    &:hover {
        background-color: rgba(33, 35, 46, 0.03);
    }
}
.avartar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-size: 1.6rem;
    font-weight: 500;
}
.check {
    margin-left: 6px;
    font-size: 1.2rem;
    color: rgb(39, 217, 240);
}
.username {
    font-size: 1.4rem;
    color: rgba(24, 26, 38, 0.5);
}
